* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

.hero {
    position: relative;
    width: 100%;
    height: 20%;
    /* The image used */
    background-image: url("images/Capture.PNG");

    /* Set a specific height */
    min-height: 100px;
    max-height: 300px;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: goldenrod;
}

.port {
    font-style: italic;
    color: white;
    /* text-align: center; */
}

.awesome {
    margin-left: 20px;
}

.detail {
    /* margin-left: 4%;
    margin-top: 4%; */
    /* The image used */
    background-image: url("images/Capture.PNG");

    /* Set a specific height */
    min-height: 400px;
    max-height: 500px;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.detail h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    margin-top: 40px;
}

.web {
    height: 10%;
    width: 10%;
    mix-blend-mode: multiply;
    margin-left: -90px;
    border-radius: 35%;
    transition: all .2s ease-in-out;
}

.web:hover {
    transform: scale(1.2);
}

span {
    color: rgb(175, 131, 18);
}

.detail a {
    background-color: rgba(128, 128, 128, 0.253);
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block; 
    margin: 30px 0;
    border-radius: 5px;
}

.images {
    width: 45%;
    height: 45%;
    position: absolute;
    bottom: 160px;
    right: 0px;
}

.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape {
    bottom: 20px;

}

.images:hover .luke {
    left: 45%;
    bottom: 60px;
    border: 2px solid goldenrod;
}




.parallax {
    /* The image used */
    background-image: url("images/Capture.PNG");
  
    /* Set a specific height */
    min-height: 800px;
    max-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.luke {
    margin-bottom: -18px;
    border-radius: 40px;
}

.nav-links li:after {
    content: '';
    width: 0%;
    height: 2px;
    background: goldenrod;
    display: block;
    margin: auto;
    transition: 0.5s;
    transform: skew(10deg, -5deg) scaleY(.80);
}

.nav-links {
    margin-top: -30px;
    transition: all .2s ease-in-out;
}

.nav-links:hover {
    transform: scale(1.1);
}

.download {
    transition: all .2s ease-in-out;
    border: 1px solid goldenrod;
}

.flex {
    transition: all .2s ease-in-out;
}

.flex:hover {
    transform: scale(1.1);
    border: 1px solid black;
}

.download:hover {
    transform: scale(1.1);
}

.nav-links li:hover::after {
    width: 100%;

}

.tt {
    background-color: rgba(0, 0, 0, 0.411);
    width: 20%;
    border-radius: 5%;

}

.stackTech {
    background-color: rgba(0, 0, 0, 0.404);
    width: 18%;
    color: white;
    margin-left: 20px;
    border-radius: 15%;
    transition: all .2s ease-in-out;
}

.stackTech:hover {
    transform: scale(1.1);
    border: 1px solid black;
}

.name {
    transition: all .2s ease-in-out;
}

.name:hover {
    transform: scale(1.1);
}

.aboutMe {
    text-align: center;
    margin-bottom: 90px;
    color: white;
    background-color: rgba(0, 0, 0, 0.37);
    width: 15%;
    border-radius: 20%;
    margin-left: 30px;
    transition: all .2s ease-in-out;
}

.aboutMe:hover {
    transform: scale(1.1);
    border: 1px solid black;
}

.about {
    background-color: rgb(177, 170, 170);
    min-height: 603px;
}

.about {
      /* The image used */
      background-image: url("images/nature.jpg");
  
      /* Set a specific height */
      min-height: 800px;
      max-height: 500px;
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.tech1 {
    /* The image used */
    background-image: url("images/globe.jpg");

    /* Set a specific height */
    min-height: 999px;
    max-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.teamwork {
            /* The image used */
            background-image: url("images/vacay.jpeg");

            /* Set a specific height */
            min-height: 1800px;
            max-height: 500px;
          
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}

.resume {
        /* The image used */
        background-image: url("images/resume6.jpg");

        /* Set a specific height */
        min-height: 1010px;
        max-height: 500px;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}


.aboutText {
    color: white;
    width: 50%;
    margin-left: 40px;
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 20%;
    transition: all .2s ease-in-out;
}

.aboutText:hover {
    transform: scale(1.1);
    border: 1px solid black;
}

.dog {
    border-radius: 40px;
    margin-left: 250px;
    margin-top: -1.5em;
    transition: all .2s ease-in-out;
    height: 400px;
    width: 300px;
}

.dog:hover {
    transform: scale(1.1);
    border: 1px solid black;
}

.resumeText {
    transition: all .2s ease-in-out;
}

.resumeText:hover {
    transform: scale(1.1);
    border: 1px solid black;
}

.contactText {
    transition: all .2s ease-in-out;
}

.contactText:hover {
    transform: scale(1.1);
    border: 1px solid black;
}

.tt {
    transition: all .2s ease-in-out;
}

.p {
    transition: all .2s ease-in-out;
    margin-left: 40px;
}

.p:hover {
    transform: scale(1.1);
    border: 1px solid black;
}

.tt:hover {
    transform: scale(1.1);
    border: 1px solid black;
}

.abt {
    display: flex;
    flex-direction: wrap;
   
}



.techText {
    color: white;
    margin-left: 50px;  
    margin-top: 20px;
}

.stack7 {
    height: 10%;
    width: 7.5%;
}

.stacks {
    height: 76.5px;
    width: 150px;
}

.mvc {
    margin-left: -23px;
}



.techy {
    display: flex;
    width: 80%;
    mix-blend-mode: multiply;
}

.bullets li {
    list-style-type: none;
}

.parent {
    width: 90%;
    height: 30%;
}


.techy {
    margin-left: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin-top: 20px;
    padding-top: 15px;
}

.techy:hover {
    transform: scale(1.1);
} 

.tt {
    margin-top: 30px;
    margin-bottom: 20px;
}
.stack8 {
    height: 10%;
    width: 12%;
    padding-top: 10px;
}

.stack {
    height: 50%;
    width: 50.4%;
    margin-left: 200px;
    margin-bottom: 200px;
}

.stack4 {
    height: 5%;
    width: 9.1%;
}

.stack5 {
    height: 5%;
    width: 9.1%;
}

.flex {
    display: flex;
    margin-left: 50px;
}

.contact {
      /* The image used */
      background-image: url("images/nashville.jpg");

      /* Set a specific height */
      min-height: 780px;
      max-height: 500px;
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

.resumeText {
    color: white;
    margin-left: 40px;
    margin-top: 10px;
    background-color: rgba(128, 128, 128, 0.37);
    width: 50%;
    margin-bottom: 20px;
    text-decoration: none;
    justify-content: right;
    border-radius: 5%;
}

.resumeUL {
    text-decoration: none;
}

.pt {
    height: 50%;
    width: 50%;
    margin-top: 10px;
}

.port {
    color: white;
}

.porti {
    background-color: rgba(0, 0, 0, 0.192);
    width: 15%;
    border-radius: 40%;
}

.p {
    background-color: rgba(0, 0, 0, 0.384);
    width: 50%;
    border-radius: 2%;
}

.contactText {
    color: white;
    background-color: rgba(0, 0, 0, 0.575);
    width: 20%;
    border-radius: 5%;
    margin-left: 25px;
    margin-bottom: 10px;
}

.links {
    color: white;
    /* text-decoration: none;
    background-color: rgba(0, 0, 0, 0.781); */
    border-radius: 8%;
    padding: 2px;
    
}

.links:hover {
    color: black;
}




div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 15em;
    height: 20em;
    transition: all .2s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
}
div.gallery:hover {
border: 1px solid rgb(19, 121, 112);
transform: scale(1.1);
}
div.description {
padding: 15px;
text-align: center;
}
.pandaDiv {
    display: flex;
    margin: 3em 0 1em 0;
}
.cardDeck {
    height: 80%;
    width: 110%;
}

.cardFront {
    height: 80%;
    width: 110%;
}

.cardBack {
    height: 80%;
    width: 110%;
}

.imageThing {
    max-width: 100%;
    max-height: 100%;
}


.p {
    margin-right: 10em;
}
